<form #form="ngForm" class="mt-5" (submit)="formulaire(form, id)" >

    <div class="mb-4">
        <label for="titre" class="form-label ms-5"> Ingrédient :</label>

        <input [(ngModel)]="ingredient.titre" name="titre" type="text" class="form-control w-50 ms-5 shadow p-2" id="titre" >

        <input [(ngModel)]="ingredient.quantite" name="quantite" type="text" class="form-control w-50 ms-5 shadow p-2" id="quantite" >
        
        <input [(ngModel)]="ingredient.unite" name="unite" type="text" class="form-control w-50 ms-5 shadow p-2" id="unite" >
    </div>

    <button type="submit" class="btn btn-primary ms-5">Envoyer</button>
</form>
