<!-- <h1 class="text-center mt-3 mb-5">Liste des ingrédients</h1>

<div class="d-flex flex-wrap form-group">
    <div *ngFor="let ingredient of ingredients" class="p-0 m-3 card col-md-4 mt-3 shadow p-2 border-0 container"
        style="width: 18rem;">

        <h2 class="card-title text-center">{{ ingredient.titre }} :</h2>
        
        <div class="card-body text-center d-flex flex-wrap">
            
            <p class="card-text ">{{ ingredient.quantite }}&emsp;</p>
            <p class="card-text ">{{ ingredient.unite }}</p>
        </div>

        <div class="card-body text-center">

            <a [routerLink]="['/formIngredient',ingredient.id]" class="card-link btn btn-outline-success">Modifier</a>

            <a (click)="delete(ingredient.id)" class="card-link btn btn-danger">Supprimer</a>

        </div>
    </div>
</div> -->


<div class="form-group border mx-auto w-50 p-4 mx-auto rounded-3">

    <label for="nom" class="ms-5" form-label>Ingrédients</label>
    <input type="text" id="nom" #nom class="form-control w-50 ms-5">

    <label for="quantite" class="ms-5">Quantité</label>
    <input type="number" id="quantite" #quantite class="form-control w-50 ms-5">

    <label for="unite" class="ms-5">Unité</label>
    <input type="text" id="unite" #unite class="form-control w-50 ms-5">

    <div class="btn btn-info ms-5 mt-3" (click)="addIngredient(nom.value, quantite.value, unite.value)" >Ajouter intrédient</div>

</div>



