<form #form="ngForm" class="mt-5" (submit)="formulaire(form)">

    <div class="mb-4">
        <label for="titre" class="form-label ms-5">Titre :</label>
        <input [(ngModel)]="recette.titre" name="titre" type="text" class="form-control w-50 ms-5 shadow p-2"
            id="titre">
    </div>

    <div class="form-group ms-5 mb-4">
        <label for="id_categorie"> Catégorie :</label>
        <select [(ngModel)]="recette.id_categorie" name="id_categorie" class="form-control w-25 shadow p-2"
            id="id_categorie ">
            <option value="" disabled selected>-- Type de plat --</option>
            <option value="{{ categorie.id }}" *ngFor="let categorie of categories">{{ categorie.titre}}</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="description" class="form-label ms-5">Description :</label>
        <input [(ngModel)]="recette.description" name="description" type="text"
            class="form-control w-50 ms-5 shadow p-2" id="titre">
    </div>

    <div class="form-group ms-5 mb-4">
        <label for="difficulte">Difficulté :</label>
        <select [(ngModel)]="recette.difficulte" name="difficulte" class="form-control w-25 shadow p-2"
            id="difficulte ">
            <option value="" disabled selected>-- Niveau de difficulté --</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="tempspreparation" class="form-label ms-5">Temps de préparation :</label>
        <input [(ngModel)]="recette.tempsprep" name="tempsprep" type="text" class="form-control w-50 ms-5 shadow p-2"
            id="tempsprep">
    </div>

    <div class="mb-4">
        <label for="tempscuisson" class="form-label ms-5">Temps de cuisson :</label>
        <input [(ngModel)]="recette.tempscuisson" name="tempscuisson" type="text"
            class="form-control w-50 ms-5 shadow p-2" id="tempscuisson">
    </div>

    <div class="mb-4">
        <label for="cout" class="form-label ms-5">Coût :</label>
        <input [(ngModel)]="recette.cout" name="cout" type="text" class="form-control w-50 ms-5 shadow p-2" id="cout">
    </div>

    <div class="mb-5">
        <label for="photo" class="form-label ms-5">Photo :</label>
        <input [(ngModel)]="recette.photo" name="photo" type="text" class="form-control w-25 ms-5 shadow p-2"
            id="photo">
    </div>

    <input type="hidden" name="id" [(ngModel)]="recette.id">

    <div class="blocIngredient d-flex mb-4">
        
        <app-ingredient (ingrEvent)="addIngr($event)" class="w-25 ms-5"></app-ingredient>

        <div class="vr ms-5"></div>

        <div class=" cardform-group border w-50 p-4 mx-auto rounded-3 shadow ">
            <h3 class="text-center">Liste des ingrédients</h3>
            <div class="m-3 mt-4 shadow p-2 w-25 container justify-content-around rounded-3 d-inline-flex" *ngFor="let ingredient of ingredients">
                
                <div class="d-flex">
                    <p class="text-center">{{ ingredient.nom }} :&emsp;</p>
                    <p class="card-text ">{{ ingredient.quantite }}</p>
                    <p class="card-text ">{{ ingredient.unite }}&emsp;</p>
                    
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary ms-5">Envoyer</button>
</form>