<form #form="ngForm" class="mt-5 d-flex flex-wrap" (submit)="formulaire(form)">


  <!-- <h1 class="text-center w-100 mb-5">{{step !=undefined ? step[0].rTitre :''}}</h1> -->

  <div style="width: 55rem;" class="card rounded-3 shadow ms-5 p-2 ps-5">

    <h2 class="ms-1 mb-5">Création d'une étape :</h2>

    <div class="mb-3">

      <label for="exampleInputEmail1" class="form-label ms-2">Ordre :</label>
      <input type="email" class="form-control w-25 ms-2 shadow p-2 mb-2" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>

    <div class="mb-3">

      <label for="exampleInputPassword1" class="form-label ms-2">Description :</label>
      <textarea class="form-control ms-2 rounded-3 shadow p-2 w-75 mb-4" rows="5"  id=""></textarea>

    </div>

    <input type="hidden" name="id" [(ngModel)]="step.id">
    <input type="hidden" name="id_recette" [(ngModel)]="id_recette">

    <button style="width: 8rem;" type="submit" class="mb-2 btn btn-primary ms-2">Enregistrer</button>
  </div>

  <div class="d-flex ms-5">
    <div class="vr"></div>
  </div>

  <div style="width: 55rem;" class="ms-5 p-2 ps-5">

    <h2 class="ms-1 mb-5">Liste des étapes</h2>

    <div class="mb-3">

      <ul class="list-group list-group-flush">

        <p>Etape N°</p>
        <li class="list-group-item"></li>
        
      </ul>

    </div>

  </div>
</form>