<div class="d-flex flex-wrap">
    <div *ngFor="let recette of recipes" class="p-0 m-3 card col-md-4 mt-3 w-25" style="width: 15rem;">
        <img src="{{ recette.photo }}" class=" card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{ recette.titre }}</h5>
            <p class="card-text">{{ recette.description }}</p>
        </div>
        <div class="card-body text-center">
            <div class="mb-2 text-center">
                <a [routerLink]="['/formStep',recette.id]" class="card-link btn btn-success">Voir les étapes</a>
                <a [routerLink]="['/formIngredient',recette.id]" class="card-link btn btn-success">Ajouter des
                    ingrédients</a><br>
            </div>

            <a [routerLink]="['/formRecipe',recette.id]" class="card-link btn btn-outline-success">Modifier</a>
            <a (click)="delete(recette.id)" class="card-link btn btn-danger">Supprimer</a>
        </div>
    </div>
</div>
